<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Soter demo!</title>
    <link rel="soter icon" href="../static/soter.ico" />
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: transparent;
        }
        a{
            cursor: pointer;
        }
        h1{
            font-size: 28px;
            color: #1f2d3d;
            margin: 0;
        }
        p {
            font-size: 16px;
            color: #5e6d82;
        }
        .soter-title{
            vertical-align: top;
            margin-bottom: 20px;
        }
        .soter-upload{
            display: inline-block !important;
        }
    </style>
</head>
<body>
<div id="app" style="margin: 100px auto 0 auto; text-align: center;">
    <h1 style="font-weight: bold">BTFS Soter</h1>
    <p>Decentralized file storage tool</p>
    <el-upload class="soter-upload"
               action=""
               ref="upload"
               :before-upload="beforeUploadFile"
               :on-exceed="exceedUploadFile"
               :data="uploadData"
               :auto-upload="false"
               :http-request="handleUpload"
               :limit="1"
               drag>
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">Drag the file here, or <em>click upload</em></div>
    </el-upload>
    <div v-if="qmHash" style="margin-top: 20px;">The file you just uploaded can be accessed via this 
        <a style="color: #42b983;" 
            v-bind:href="'https://sandbox.btfssoter.io/btfs/' + qmHash" target="_blank"  
            v-bind:title="'https://sandbox.btfssoter.io/btfs/' + qmHash">
            link <br/>(hashcode: {{qmHash}})
        </a>
    </div>
   
    <div style="margin-top: 40px; margin-left: -10px">
        <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">Upload to server</el-button>
        <el-button style="margin-left: 10px;" size="small" type="primary" @click="getBalance">Query balance</el-button>
    </div>
   
    <p>Source code of this demo: <a style="color: #42b983;" href="https://github.com/TRON-US/soter-demo" target="_blank">GitHub</a></p>
    <p style="color: #999;" v-if="isLogin">Login operation is required when tronlink wallet is installed: <a style="color: #42b983;"> login</a> | <a style="color: #42b983;" target="_blank" href="https://chrome.google.com/webstore/detail/tronlink%EF%BC%88%E6%B3%A2%E5%AE%9D%E9%92%B1%E5%8C%85%EF%BC%89/ibnejdfjmmkpcnlpebklmnkoeoihofec/reviews?utm_source=chrome-ntp-icon">install</a></p>
</div>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            uploadData: {
                raw_data: '',
                signature: ''
            },
            files:[],
            tronWeb: {},
            qmHash: '',
            addTest: '',
            isLogin: false
        },
        created: function () {
            const _this = this;
            setTimeout(function () {
           
                if (window.tronWeb && (window.tronWeb.defaultAddress.base58 === false)){
                    _this.isLogin = true
                }else{
                    _this.$confirm('Please login to the TronLink wallet first', {
                        confirmButtonText: 'Confirm',
                        showCancelButton: false
                    });
                }
            }, 500)
        },
        methods: {
            beforeUploadFile (file){
                if (file.size > 1024*1024*500) {
                    this.$confirm('File size must not exceed 500M', {
                        confirmButtonText: 'Confirm',
                        showCancelButton: false
                    });
                    return false
                }
            },
            exceedUploadFile(files, fileList){
                this.$confirm('Only one file can be uploaded at a time', {
                    confirmButtonText: 'Confirm',
                    showCancelButton: false
                });
            },
            async handleUpload(params) {
                
                const _this = this;

                if(!window.tronWeb){
                    _this.$confirm('Please login to the TronLink wallet first', {
                        confirmButtonText: 'Confirm',
                        showCancelButton: false
                    });
                    return
                }

                if (tronWeb && (tronWeb.defaultAddress.base58 === false)){
                    _this.$confirm('Please login to the TronLink wallet first.', {
                        confirmButtonText: 'Confirm',
                        showCancelButton: false
                    });
                    _this.$refs.upload.clearFiles();
                    return false
                }

                let formData = new FormData();
                formData.append("file", params.file);

                let rawData = {
                    "request_user": tronWeb.defaultAddress.base58,
                    "signed_user": tronWeb.defaultAddress.base58,
                    "request_id": UUIDv4(),
                    "timestamp": Date.now()
                };



                let signatureData = await tronWeb.trx.sign(tronWeb.toHex(JSON.stringify(rawData)));
                formData.append("raw_data",JSON.stringify(rawData));
                formData.append("signature",signatureData);

                axios.post("https://sandbox.btfssoter.io/api/v1/add", formData).then(function (response) {
                    if (response.status === 200 && response.data.code === 0){
                        _this.$message({
                            message: 'Upload file successfully, file HASH value: ['+response.data.data.cid+']',
                            type: 'success'
                        });
                        _this.qmHash = response.data.data.cid;
                    } else{
                        _this.$message.error('Upload failed: '+response.data.message);
                    }
                    _this.$refs.upload.clearFiles();
                    return response;
                }).catch(function (error) {
                    _this.$message.error('System is abnormal, please try again later');
                    return error.response;
                });
            },
            submitUpload() {

                this.$refs.upload.submit();
            },
            getBalance: async function () {
                const _this = this;

                if(!window.tronWeb){
                    _this.$confirm('Please login to the TronLink wallet first', {
                        confirmButtonText: 'Confirm',
                        showCancelButton: false
                    });
                    return
                }

                if (window.tronWeb && (window.tronWeb.defaultAddress.base58 === false)) {
                    _this.$confirm('Please login to the TronLink wallet first', {
                        confirmButtonText: 'Confirm',
                        showCancelButton: false
                    });
                    return
                }

                let unSigned = {
                    user_address:  tronWeb.defaultAddress.base58,
                    timestamp: Date.now()
                }

                let signatureData = await tronWeb.trx.sign(tronWeb.toHex(JSON.stringify(unSigned)));
                
                axios.get("https://sandbox.btfssoter.io/api/v1/balance?user_address=" + tronWeb.defaultAddress.base58 + "&raw_data=" + JSON.stringify(unSigned) + "&signature=" + signatureData).then(function (response) {
                    if (response.data.code === 0) {
                        _this.$message({
                            message: 'Balance: [' + response.data.data.balance + ']',
                            type: 'success'
                        });
                    } else {
                        _this.$message.error('Failed to get balance: ' + response.data.message);
                    }
                });
            }
        }
    });

    /**
     * @return {string}
     */
    function UUIDv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            let r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
</script>
</html>
